/**
* blocks.css
*/


/* Core block styling*/

.core-block-section {
	padding: 0;
}

/* Core block */

.wp-block-media-text {
	@apply md:block;

	.wp-block-media-text__content {
		@apply md:block md:p-0;

	}

}

/*
  **********************************************************************
  ** Custom blocks
  **********************************************************************
  */


.section-wrapper {
	@apply relative;


	&.spacing-top-regular {
		@apply pt-5 md:pt-16;

	}

	&.spacing-bottom-regular {
		@apply pb-5 md:pb-16;

	}

	&.spacing-top-large {
		@apply pt-16 md:pt-24;

	}

	&.spacing-bottom-large {
		@apply pb-16 md:pb-24;

	}
}
