.wp-block {
	max-width: 90%;
	margin: 0 auto !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.wp-block .accordion .card {
	max-width: none;
}


.gform_fields {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.editor-styles-wrapper p {
	@apply mt-0 !important;
}
