/**
* buttons.css
*/
.btn-set {
	@apply mt-10;

	a {
		@apply mr-1 mb-5 md:mr-3 ;
	}
}

.y-btn {
	@apply inline-block px-8 py-2 text-white rounded-md border-2 bg-black border-black;

	&.btn-inverted {
		@apply bg-transparent text-default-colour;

	}
}







