/**
* forms.css
*/


.wp-block .acf-block-preview {
	.gform_button {
		@apply inline-block px-5 py-2 tracking-widest text-black text-white uppercase border cursor-pointer;
	}

	.gform_fields {
		.gfield {
			.ginput_container {

			}
		}

	}
}

section {
	textarea {
		@apply p-3 pl-5 text-base border border-grey-light;

		&:focus, &:active {
			@apply border-black;
			outline: none;
			box-shadow: none;
		}
	}

	textarea {
		@apply placeholder-opacity-75 rounded-3xl shadow form-textarea border-grey form-input focus:ring-1 focus:ring-grey focus:border-grey placeholder-grey;
	}

	select {
		@apply px-3 py-2 bg-none rounded-2xl border border-grey appearance-none shadow;
	}


	input[type=radio] {
		@apply form-radio;
	}


	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		@apply inline-block pl-5 placeholder-opacity-75 rounded-3xl shadow border-grey-light form-input focus:ring-1 focus:ring-grey focus:border-grey placeholder-grey;
	}


}

.gform_wrapper .gf_simple_horizontal .gform_body {
	@apply w-full !important;
}

.button-inline {
	form {
		@apply lg:grid lg:grid-cols-5 lg:gap-5;
	}


	.gform_body {
		@apply col-span-4 self-center;
	}

	.gform_footer {
		@apply self-center;
	}

	button {
		@apply lg:w-full;
	}

}

