/**
* typography.css
*/

*,
*::before,
*::after {
	@apply box-border;

}


* {
	@apply antialiased;
}

.wp-block {
	@apply m-0 leading-normal text-grey;


}


strong,
b {
	@apply font-bold text-yellow-500;

}


h1,
h2,
h3,
h4,
h5,
h6 {
	@apply mt-0 mr-0 mb-5 ml-0 font-bold tracking-tighter text-black;

}

h1 {
	@apply text-h1-mob md:text-h1;

}

h2 {
	@apply text-h2-mob md:text-h2;

}

h3 {
	@apply text-h3-mob md:text-h3;

}

h4 {
	@apply text-h4-mob md:text-h4;

}

h5 {
	@apply text-h5-mob md:text-h5;

}

h6 {
	@apply text-h6-mob md:text-h6;
}

p {
	@apply mb-15px;
}

address {
	@apply not-italic;

}

ul,
ol,
dl {
	@apply mt-0 pl-0.5;


	li {
		@apply mb-0.5;

	}
}

ul {
	@apply list-disc;
}

ol {
	@apply list-decimal;
}

a {
	@apply font-semibold no-underline transition-colors duration-300 ease-in-out text-black hover:text-default-colour;

}


/*
  ** Headings
  */

.section-heading,
.section-heading h1,
.section-heading h2,
.section-heading h3,
.section-heading h4,
.section-heading h5,
.section-heading h6 {
	@apply text-section-heading-mob md:text-section-heading;

}



