.editor-styles-wrapper .wp-block {
	max-width: 90%;
	margin: 0 auto !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.editor-styles-wrapper .wp-block .accordion .card {
	max-width: none;
}

.editor-styles-wrapper .gform_fields {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.editor-styles-wrapper p {
	margin-top: 0px !important;
}

