/*! tailwindcss v2.2.19 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */
 
:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
}
.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1rem;
	padding-left: 1rem;
}
@media (min-width: 640px) {

	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {

	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {

	.container {
		max-width: 1024px;
	}
}
@media (min-width: 1280px) {

	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1536px) {

	.container {
		max-width: 1536px;
	}
}
.static {
	position: static;
}
.sticky {
	position: sticky;
}
.order-2 {
	order: 2;
}
.col-span-1 {
	grid-column: span 1 / span 1;
}
.col-span-2 {
	grid-column: span 2 / span 2;
}
.col-span-3 {
	grid-column: span 3 / span 3;
}
.col-span-4 {
	grid-column: span 4 / span 4;
}
.col-span-5 {
	grid-column: span 5 / span 5;
}
.col-span-6 {
	grid-column: span 6 / span 6;
}
.col-span-7 {
	grid-column: span 7 / span 7;
}
.col-span-8 {
	grid-column: span 8 / span 8;
}
.col-span-9 {
	grid-column: span 9 / span 9;
}
.col-span-10 {
	grid-column: span 10 / span 10;
}
.col-span-11 {
	grid-column: span 11 / span 11;
}
.col-span-12 {
	grid-column: span 12 / span 12;
}
.my-10 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.mt-2 {
	margin-top: 8px;
}
.mb-10 {
	margin-bottom: 40px;
}
.mt-10 {
	margin-top: 40px;
}
.mt-20 {
	margin-top: 80px;
}
.mb-5 {
	margin-bottom: 20px;
}
.mb-3 {
	margin-bottom: 12px;
}
.mt-5 {
	margin-top: 20px;
}
.block {
	display: block;
}
.flex {
	display: flex;
}
.grid {
	display: grid;
}
.h-32 {
	height: 128px;
}
.h-64 {
	height: 256px;
}
.w-full {
	width: 100%;
}
.w-screen {
	width: 100vw;
}
.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5 {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6 {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-cols-7 {
	grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-cols-8 {
	grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-cols-9 {
	grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-cols-10 {
	grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-cols-11 {
	grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-cols-12 {
	grid-template-columns: repeat(12, minmax(0, 1fr));
}
.items-center {
	align-items: center;
}
.gap-20 {
	gap: 80px;
}
.gap-10 {
	gap: 40px;
}
.border-2 {
	border-width: 2px;
}
.border-t-2 {
	border-top-width: 2px;
}
.border-b-2 {
	border-bottom-width: 2px;
}
.bg-yellow-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}
.bg-grey {
	--tw-bg-opacity: 1;
	background-color: rgba(118, 109, 102, var(--tw-bg-opacity));
}
.bg-grey-light {
	--tw-bg-opacity: 1;
	background-color: rgba(211, 211, 211, var(--tw-bg-opacity));
}
.bg-grey-dark {
	--tw-bg-opacity: 1;
	background-color: rgba(51, 51, 51, var(--tw-bg-opacity));
}
.bg-black {
	--tw-bg-opacity: 1;
	background-color: rgba(17, 17, 17, var(--tw-bg-opacity));
}
.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.object-cover {
	-o-object-fit: cover;
	   object-fit: cover;
}
.object-center {
	-o-object-position: center;
	   object-position: center;
}
.p-5 {
	padding: 20px;
}
.py-10 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.py-4 {
	padding-top: 16px;
	padding-bottom: 16px;
}
.pb-5 {
	padding-bottom: 20px;
}
.pt-4 {
	padding-top: 16px;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.uppercase {
	text-transform: uppercase;
}
.text-black {
	--tw-text-opacity: 1;
	color: rgba(17, 17, 17, var(--tw-text-opacity));
}
.text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-red-500 {
	--tw-text-opacity: 1;
	color: rgba(239, 68, 68, var(--tw-text-opacity));
}
.text-grey-light {
	--tw-text-opacity: 1;
	color: rgba(211, 211, 211, var(--tw-text-opacity));
}
/**
* buttons.css
*/
.btn-set {
	margin-top: 40px;
}
.btn-set a {
	margin-right: 4px;
	margin-bottom: 20px;
}
@media (min-width: 768px) {

	.btn-set a {
		margin-right: 12px;
	}
}
.y-btn {
	display: inline-block;
	border-radius: 0.375rem;
	border-width: 2px;
	--tw-border-opacity: 1;
	border-color: rgba(17, 17, 17, var(--tw-border-opacity));
	--tw-bg-opacity: 1;
	background-color: rgba(17, 17, 17, var(--tw-bg-opacity));
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.y-btn.btn-inverted {
	background-color: transparent;
	color: ,#111111;
}
/**
* forms.css
*/
.wp-block .acf-block-preview .gform_button {
	display: inline-block;
	cursor: pointer;
	border-width: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	--tw-text-opacity: 1;
	color: rgba(17, 17, 17, var(--tw-text-opacity));
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.wp-block .acf-block-preview .gform_fields .gfield .ginput_container {

			}
section textarea {
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgba(211, 211, 211, var(--tw-border-opacity));
	padding: 12px;
	padding-left: 20px;
	font-size: 16px;
	line-height: 22px;
}
section textarea:focus, section textarea:active {
	--tw-border-opacity: 1;
	border-color: rgba(17, 17, 17, var(--tw-border-opacity));
			outline: none;
			box-shadow: none;
}
section textarea {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	border-radius: 0px;
	padding-top: 0.5rem;
	padding-right: 0.75rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	--tw-shadow: 0 0 #0000;
	appearance: none;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	border-radius: 0px;
	padding-top: 0.5rem;
	padding-right: 0.75rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	--tw-shadow: 0 0 #0000;
}
section textarea:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	border-color: #2563eb;
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	border-color: #2563eb;
}
section textarea::-moz-placeholder {
	color: #6b7280;
	opacity: 1;
	color: #6b7280;
	opacity: 1;
}
section textarea::placeholder {
	color: #6b7280;
	opacity: 1;
	color: #6b7280;
	opacity: 1;
}
section textarea::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}
section textarea::-webkit-date-and-time-value {
	min-height: 1.5em;
}
section textarea {
	border-radius: 1.5rem;
	--tw-border-opacity: 1;
	border-color: rgba(118, 109, 102, var(--tw-border-opacity));
}
section textarea::-moz-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(118, 109, 102, var(--tw-placeholder-opacity));
	--tw-placeholder-opacity: 0.75;
}
section textarea::placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(118, 109, 102, var(--tw-placeholder-opacity));
	--tw-placeholder-opacity: 0.75;
}
section textarea {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
section textarea:focus {
	--tw-border-opacity: 1;
	border-color: rgba(118, 109, 102, var(--tw-border-opacity));
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(118, 109, 102, var(--tw-ring-opacity));
}
section select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	border-radius: 1rem;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgba(118, 109, 102, var(--tw-border-opacity));
	background-image: none;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
section input[type=radio] {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	padding: 0;
	-webkit-print-color-adjust: exact;
	        color-adjust: exact;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	color: #2563eb;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	--tw-shadow: 0 0 #0000;
	border-radius: 100%;
}
section input[type=radio]:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 2px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
section input[type=radio]:checked {
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}
section input[type=radio]:checked:hover, section input[type=radio]:checked:focus {
	border-color: transparent;
	background-color: currentColor;
	border-color: transparent;
	background-color: currentColor;
}
section input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	display: inline-block;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	border-radius: 0px;
	padding-top: 0.5rem;
	padding-right: 0.75rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	--tw-shadow: 0 0 #0000;
}
section input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	border-color: #2563eb;
}
section input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-moz-placeholder {
	color: #6b7280;
	opacity: 1;
}
section input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::placeholder {
	color: #6b7280;
	opacity: 1;
}
section input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}
section input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-webkit-date-and-time-value {
	min-height: 1.5em;
}
section input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	border-radius: 1.5rem;
	--tw-border-opacity: 1;
	border-color: rgba(211, 211, 211, var(--tw-border-opacity));
	padding-left: 20px;
}
section input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-moz-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(118, 109, 102, var(--tw-placeholder-opacity));
	--tw-placeholder-opacity: 0.75;
}
section input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(118, 109, 102, var(--tw-placeholder-opacity));
	--tw-placeholder-opacity: 0.75;
}
section input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
section input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus {
	--tw-border-opacity: 1;
	border-color: rgba(118, 109, 102, var(--tw-border-opacity));
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(118, 109, 102, var(--tw-ring-opacity));
}
.gform_wrapper .gf_simple_horizontal .gform_body {
	width: 100% !important;
}
@media (min-width: 1024px) {

	.button-inline form {
		display: grid;
	}

	.button-inline form {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.button-inline form {
		gap: 20px;
	}
}
.button-inline .gform_body {
	grid-column: span 4 / span 4;
	align-self: center;
}
.button-inline .gform_footer {
	align-self: center;
}
@media (min-width: 1024px) {

	.button-inline button {
		width: 100%;
	}
}
/**
* hamburger.css
*/
/**
* pagination.css
*/
/**
* blocks.css
*/
/* Core block styling*/
.core-block-section {
	padding: 0;
}
/* Core block */
@media (min-width: 768px) {

	.wp-block-media-text {
		display: block;
	}

	.wp-block-media-text .wp-block-media-text__content {
		display: block;
	}

	.wp-block-media-text .wp-block-media-text__content {
		padding: 0px;
	}
}
/*
  **********************************************************************
  ** Custom blocks
  **********************************************************************
  */
.section-wrapper {
	position: relative;
}
.section-wrapper.spacing-top-regular {
	padding-top: 20px;
}
@media (min-width: 768px) {

	.section-wrapper.spacing-top-regular {
		padding-top: 64px;
	}
}
.section-wrapper.spacing-bottom-regular {
	padding-bottom: 20px;
}
@media (min-width: 768px) {

	.section-wrapper.spacing-bottom-regular {
		padding-bottom: 64px;
	}
}
.section-wrapper.spacing-top-large {
	padding-top: 64px;
}
@media (min-width: 768px) {

	.section-wrapper.spacing-top-large {
		padding-top: 96px;
	}
}
.section-wrapper.spacing-bottom-large {
	padding-bottom: 64px;
}
@media (min-width: 768px) {

	.section-wrapper.spacing-bottom-large {
		padding-bottom: 96px;
	}
}
/**
* footer.css
*/
/**
* general.css
*/
/**
* header.css
*/
/**
* print.css
*/
/**
* base.css
*/
body.yp-frontend, .wp-block .acf-block-preview {
	margin: 0px;
	font-family: ;
	font-weight: 400;
	--tw-text-opacity: 1;
	color: rgba(118, 109, 102, var(--tw-text-opacity));
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin: 0 10px 10px 0;
}
.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	width: 100% !important;
	max-width: 100%;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
/**
* typography.css
*/
*, *::before, *::after {
	box-sizing: border-box;
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.wp-block {
	margin: 0px;
	line-height: 1.5;
	--tw-text-opacity: 1;
	color: rgba(118, 109, 102, var(--tw-text-opacity));
}
strong, b {
	font-weight: 700;
	--tw-text-opacity: 1;
	color: rgba(245, 158, 11, var(--tw-text-opacity));
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	font-weight: 700;
	letter-spacing: -0.05em;
	--tw-text-opacity: 1;
	color: rgba(17, 17, 17, var(--tw-text-opacity));
}
h1 {
	font-size: 40px;
	line-height: 45px;
}
@media (min-width: 768px) {

	h1 {
		font-size: 45px;
		line-height: 50px;
	}
}
h2 {
	font-size: 36px;
	line-height: 41px;
}
@media (min-width: 768px) {

	h2 {
		font-size: 40px;
		line-height: 45px;
	}
}
h3 {
	font-size: 30px;
	line-height: 35px;
}
@media (min-width: 768px) {

	h3 {
		font-size: 34px;
		line-height: 39px;
	}
}
h4 {
	font-size: 25px;
	line-height: 30px;
}
@media (min-width: 768px) {

	h4 {
		font-size: 28px;
		line-height: 33px;
	}
}
h5 {
	font-size: 23px;
	line-height: 28px;
}
@media (min-width: 768px) {

	h5 {
		font-size: 25px;
		line-height: 30px;
	}
}
h6 {
	font-size: 22px;
	line-height: 27px;
}
@media (min-width: 768px) {

	h6 {
		font-size: 22px;
		line-height: 27px;
	}
}
p {
	margin-bottom: 15px;
}
address {
	font-style: normal;
}
ul, ol, dl {
	margin-top: 0px;
	padding-left: 2px;
}
ul li, ol li, dl li {
	margin-bottom: 2px;
}
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}
a {
	font-weight: 600;
	--tw-text-opacity: 1;
	color: rgba(17, 17, 17, var(--tw-text-opacity));
	text-decoration: none;
	transition-property: background-color, border-color, color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover {
	color: ,#111111;
}
/*
  ** Headings
  */
.section-heading, .section-heading h1, .section-heading h2, .section-heading h3, .section-heading h4, .section-heading h5, .section-heading h6 {
	font-size: 40px;
	line-height: 34px;
}
@media (min-width: 768px) {

	.section-heading, .section-heading h1, .section-heading h2, .section-heading h3, .section-heading h4, .section-heading h5, .section-heading h6 {
		font-size: 55px;
		line-height: 34px;
	}
}
/**
* variables.css
*/
@media (min-width: 768px) {

	.md\:col-span-1 {
		grid-column: span 1 / span 1;
	}

	.md\:col-span-2 {
		grid-column: span 2 / span 2;
	}

	.md\:col-span-3 {
		grid-column: span 3 / span 3;
	}

	.md\:col-span-4 {
		grid-column: span 4 / span 4;
	}

	.md\:col-span-5 {
		grid-column: span 5 / span 5;
	}

	.md\:col-span-6 {
		grid-column: span 6 / span 6;
	}

	.md\:col-span-7 {
		grid-column: span 7 / span 7;
	}

	.md\:col-span-8 {
		grid-column: span 8 / span 8;
	}

	.md\:col-span-9 {
		grid-column: span 9 / span 9;
	}

	.md\:col-span-10 {
		grid-column: span 10 / span 10;
	}

	.md\:col-span-11 {
		grid-column: span 11 / span 11;
	}

	.md\:col-span-12 {
		grid-column: span 12 / span 12;
	}

	.md\:mb-0 {
		margin-bottom: 0px;
	}

	.md\:ml-5 {
		margin-left: 20px;
	}

	.md\:mr-5 {
		margin-right: 20px;
	}

	.md\:grid {
		display: grid;
	}

	.md\:grid-cols-1 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.md\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.md\:grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.md\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.md\:grid-cols-5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.md\:grid-cols-6 {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}

	.md\:grid-cols-7 {
		grid-template-columns: repeat(7, minmax(0, 1fr));
	}

	.md\:grid-cols-8 {
		grid-template-columns: repeat(8, minmax(0, 1fr));
	}

	.md\:grid-cols-9 {
		grid-template-columns: repeat(9, minmax(0, 1fr));
	}

	.md\:grid-cols-10 {
		grid-template-columns: repeat(10, minmax(0, 1fr));
	}

	.md\:grid-cols-11 {
		grid-template-columns: repeat(11, minmax(0, 1fr));
	}

	.md\:grid-cols-12 {
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}

	.md\:gap-36 {
		gap: 144px;
	}

	.md\:pr-20 {
		padding-right: 80px;
	}
}
@media (min-width: 1024px) {

	.lg\:col-span-1 {
		grid-column: span 1 / span 1;
	}

	.lg\:col-span-2 {
		grid-column: span 2 / span 2;
	}

	.lg\:col-span-3 {
		grid-column: span 3 / span 3;
	}

	.lg\:col-span-4 {
		grid-column: span 4 / span 4;
	}

	.lg\:col-span-5 {
		grid-column: span 5 / span 5;
	}

	.lg\:col-span-6 {
		grid-column: span 6 / span 6;
	}

	.lg\:col-span-7 {
		grid-column: span 7 / span 7;
	}

	.lg\:col-span-8 {
		grid-column: span 8 / span 8;
	}

	.lg\:col-span-9 {
		grid-column: span 9 / span 9;
	}

	.lg\:col-span-10 {
		grid-column: span 10 / span 10;
	}

	.lg\:col-span-11 {
		grid-column: span 11 / span 11;
	}

	.lg\:col-span-12 {
		grid-column: span 12 / span 12;
	}

	.lg\:grid-cols-1 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.lg\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.lg\:grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.lg\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.lg\:grid-cols-5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.lg\:grid-cols-6 {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}

	.lg\:grid-cols-7 {
		grid-template-columns: repeat(7, minmax(0, 1fr));
	}

	.lg\:grid-cols-8 {
		grid-template-columns: repeat(8, minmax(0, 1fr));
	}

	.lg\:grid-cols-9 {
		grid-template-columns: repeat(9, minmax(0, 1fr));
	}

	.lg\:grid-cols-10 {
		grid-template-columns: repeat(10, minmax(0, 1fr));
	}

	.lg\:grid-cols-11 {
		grid-template-columns: repeat(11, minmax(0, 1fr));
	}

	.lg\:grid-cols-12 {
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}
}


